registry=https://pkgs.dev.azure.com/AashmanRastogi/_packaging/test-npm/npm/registry/
always-auth=true
@dev.azure.com/AashmanRastogi:registry=https://pkgs.dev.azure.com/AashmanRastogi/_packaging/test-npm/npm/registry/
